* {
    top: 0;
    bottom: 0;
    right: 0;
    left:0;
    margin: 0;
}

body {
    background-color: #0A0C1B;
}

.center {
    margin: auto;
    width: 50%;
}

.col-1 {
    float: left;
}
.col-2 {
    width: 540px;
    height: 455px;
    float:right;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: white;
    line-height: 43px;
    padding-bottom: 33px;
}

b {
    color: #AC56D7;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    letter-spacing: 1.5%;
    color: #ADABC1;
    font-weight: 400;
    line-height: 26px;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    color: white;
    font-weight: 700;
    padding-bottom: 10px;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 12px;
    letter-spacing: 8.5%;
    color: #ADABC1;
    text-transform: uppercase;
    font-weight: 400;
}

#card {
    position:absolute;
    width: 1110px;
    height: 446px;
    background-color: #1C1938;
    border-radius: 10px;
}

#image-block img {
    float:right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#image-container {
    position:relative;
    width: 540px;
    height: 446px;
}

#color-overlay {
    position:absolute;
    width: 100%;
    height: 100%;
    float:right;
    background-color: rgba(128, 24, 190, 0.6);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#text-block {
    position:absolute;
    width: 380px;
    height: 310px;
    margin-left: 78px;
    margin-top: 78px;
}

.columns {
    display:flex;
    flex-flow:row;
    align-content: flex-start;
    margin-top: 55px;
}

#c1, #c2 {
    padding-right: 65px;
}

@media only screen and (max-width:1110px) {
    /* For mobile phones: */

    #card {
        width: 327px;
        height: 780px;
        border-radius: 8px;
        position:absolute;
    }

    .col-2 {
        width: 327px;
        height: 240px;
    }

    #image-block img {
        float:right;
        width: 327px;
        height: 240px;
        border-top-right-radius: 8x;
        border-top-left-radius: 8px;
    }

    #image-container {
        position:relative;
        width: 327px;
        height: 240px;
    }

    #color-overlay {
        position:absolute;
        width: 100%;
        height: 100%;
        float:right;
        background-color: rgba(128, 24, 190, 0.6);
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
    }

    #text-block {
        position:relative;
        width: 237px;
        height: 455px;
        margin: 0;
        text-align: center;
        margin-left: 45px;
        margin-right: 45px;
    }

    h1 {
        font-size: 26px;
        line-height: 33px;
        margin-top: 45px;
    }

    h2 {
        font-size: 13px;
        line-height: 20px;
    }

    .columns {
        display:flex;
        flex-flow:column;
        align-content: center;
        justify-content: center;
        margin-top: 45px;
    }

    #c1, #c2 {
        padding-right: 0;
        padding-bottom: 25px;
    }

    h3 {
        font-size: 22px;
        padding-bottom: 7px;
    }

    p {
        font-size: 12px;
    }
}